<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/Exerc%C3%ADcios_Salarios_de_S%C3%A3o_Francisco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios - Salarios de São Francisco

In [1]:
import pandas as pd

In [2]:
salaries= pd.read_csv('Salaries.csv')

In [39]:
len(salaries)

107131

In [3]:
salaries.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

** Use o método .info () para descobrir quantas entradas existem. **

In [40]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107131 entries, 0 to 107130
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                107131 non-null  int64
 1   EmployeeName      107131 non-null  object
 2   JobTitle          107131 non-null  object
 3   BasePay           106686 non-null  float64
 4   OvertimePay       107131 non-null  float64
 5   OtherPay          107131 non-null  float64
 6   Benefits          70972 non-null   float64
 7   TotalPay          107131 non-null  float64
 8   TotalPayBenefits  107131 non-null  float64
 9   Year              107131 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            107131 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 10.6+ MB

** Qual é o "BasePay" médio? ** 66325.44884050643

In [5]:
salaries['BasePay'].mean()

68165.60588082249

** Qual é a maior quantidade de "OvertimePay" no conjunto de dados? **

In [7]:
salaries['OvertimePay'].max()

245131.88

** Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas). **

In [9]:
Josephs_salary=salaries.loc[salaries['EmployeeName']=='JOSEPH DRISCOLL']
Josephs_salary['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [41]:
#2ª maneira de resolver:
salaries[salaries['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)? **

In [10]:
Josephs_salary['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [42]:
#2ª maneira de resolver:
salaries[salaries['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** Qual o nome da pessoa mais bem paga (incluindo benefícios)? **

In [12]:
highest_salary=salaries['TotalPayBenefits'].max()
people_with_higher_salary=salaries.loc[salaries['TotalPayBenefits']== highest_salary]
people_with_higher_salary['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [43]:
#2ª forma de resolver:
salaries[salaries['TotalPayBenefits']==salaries['TotalPayBenefits'].max()]

   Id    EmployeeName  ...         Agency  Status
0   1  NATHANIEL FORD  ...  San Francisco     NaN

[1 rows x 13 columns]

In [44]:
#3ª forma de resolver:
salaries.loc[salaries['TotalPayBenefits'].idxmax()]# indice em x da pessoa que rece mais

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga? **

In [27]:
lowest_salary=salaries['TotalPayBenefits'].min()
low_income_people=salaries.loc[salaries['TotalPayBenefits']== lowest_salary]
low_income_people

          Id        EmployeeName  ...         Agency  Status
36156  36157      PAULETTE ADAMS  ...  San Francisco     NaN
36157  36158       KAUKAB MOHSIN  ...  San Francisco     NaN
36158  36159  JOSEPHINE MCCREARY  ...  San Francisco     NaN

[3 rows x 13 columns]

In [45]:
#2ª forma de resolver:
salaries[salaries['TotalPayBenefits']==salaries['TotalPayBenefits'].min()]# não está pegando os negativos

          Id        EmployeeName  ...         Agency  Status
36156  36157      PAULETTE ADAMS  ...  San Francisco     NaN
36157  36158       KAUKAB MOHSIN  ...  San Francisco     NaN
36158  36159  JOSEPHINE MCCREARY  ...  San Francisco     NaN

[3 rows x 13 columns]

** Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)? **

In [33]:
base_salary_per_year_2011= salaries.loc[salaries['Year']==2011]
base_salary_per_year_2013= salaries.loc[salaries['Year']==2013]
base_salary_per_year_2014= salaries.loc[salaries['Year']==2014]
base_salary_per_year_2012= salaries.loc[salaries['Year']==2012]
print(base_salary_per_year_2011['BasePay'].mean(),
      base_salary_per_year_2012['BasePay'].mean(),
      base_salary_per_year_2013['BasePay'].mean(),
      base_salary_per_year_2014['BasePay'].mean())

63595.956516774524 65436.40685742255 76031.95115044015 nan

In [47]:
#2ª forma de resolver:Agrupando
salaries.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    76031.951150
Name: BasePay, dtype: float64

** Quantos títulos de trabalho únicos existem? **

In [36]:
len(salaries['JobTitle'].unique())

2123

In [48]:
#2ª forma de resolver:
salaries['JobTitle'].nunique()

2123

** Quais são os 5 principais empregos mais comuns? **

In [50]:
salaries['JobTitle'].value_counts().head()

Transit Operator    4489
Special Nurse       2528
Registered Nurse    2490
TRANSIT OPERATOR    2388
Police Officer 3    1635
Name: JobTitle, dtype: int64

In [51]:
#2forma de resolver:
salaries['JobTitle'].value_counts().iloc[:5]

Transit Operator    4489
Special Nurse       2528
Registered Nurse    2490
TRANSIT OPERATOR    2388
Police Officer 3    1635
Name: JobTitle, dtype: int64

** Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?) **

In [57]:

sum(salaries[salaries['Year']== 2013]['JobTitle'].value_counts()==1)

202

** Quantas pessoas têm a palavra Chefe em seu cargo? (Isso é bastante complicado) **

In [60]:
def verify_string(title):
  if 'chief'in title.lower():
    return True
  return False


sum(salaries['JobTitle'].apply(lambda x: verify_string(x)))

487

** Bônus: Existe uma correlação entre o comprimento da seqüência do título do trabalho e o salário? **

In [61]:
salaries['Tamanho da String'] =salaries['JobTitle'].apply(len)

In [62]:
salaries[['Tamanho da String','TotalPayBenefits']].corr()
# Neste caso ente elas a correlação é bem róxima ao 0, portando não há correlação.

                   Tamanho da String  TotalPayBenefits
Tamanho da String           1.000000         -0.033782
TotalPayBenefits           -0.033782          1.000000

** Existe uma correlação entre o TotalPayBenefitse o Year? **

In [64]:
salaries[['Year','TotalPayBenefits']].corr()

                      Year  TotalPayBenefits
Year              1.000000          0.266398
TotalPayBenefits  0.266398          1.000000