<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/Pandas_Udemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estudo da biblioteca Pandas, utilizando-a na análise, limpeza e obtenção de informações através dos dados.

In [1]:
import pandas as pd
import numpy as np

In [2]:
series =pd.Series([7,4,2,np.nan,6,9])

In [3]:
series
# os indices representam o tempo, e ao lado são os valores atribuídos a cada tempo

0    7.0
1    4.0
2    2.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [4]:
type(series)

pandas.core.series.Series

In [6]:
data = pd.date_range('20180101',periods =6)
#periods, está relacionado a dias (freq='D').Mas  a frequencia pode ser alterada
# date_range é utilizado para manipulação de datas a partir de um período, aqui estou dizendo que quero visualizar o mes 01 no dia 01 de 2018

In [7]:
data

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
?data = pd.date_range()
# dando um "help", consigo verificar todos os parametros desta função

In [11]:
mes = pd.date_range('20180101',periods =6,freq='M')
#Colocando o parâmetro freq='M', eu relaciono o período a meses em vez de dias. E ao que posso verificar ele sempre olha para o último 
# dia  de cada mês
mes

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30'],
              dtype='datetime64[ns]', freq='M')

In [12]:
ano = pd.date_range('20180101',periods =6,freq='Y')
#Colocando o parâmetro freq='Y', eu relaciono o período a ANOS em vez de dias ou meses. E ao que posso verificar ele sempre olha para o último 
# dia  do mês de dezembro de cada ano
ano

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [13]:
type(ano)

pandas.core.indexes.datetimes.DatetimeIndex

Criando um Dataframe

In [14]:
np.random.randn(6,4)
# criando um array de 6 linhas e 4 colunas, preenchidos com números aleatórios.
#randn-> Gera números aleatórios

array([[ 1.2872204 , -1.31365005, -0.58044925,  0.36983327],
       [ 0.64512162,  0.22300354, -0.08589009,  0.53531976],
       [ 1.67933636, -0.87372327,  1.71540641,  1.05060708],
       [-0.04476308,  0.9648499 , -1.39552906, -0.45303189],
       [-2.32371663,  0.91641146, -0.18437965,  0.69652434],
       [ 1.91805332, -0.31417153,  0.33371761,  0.37735785]])

In [15]:
list('ABDC')
# criando uma lista

['A', 'B', 'D', 'C']

In [17]:
df = pd.DataFrame(np.random.randn(6,4),index= data,columns=list('ABDC'))

In [18]:
df
# dataframe montado com os indices que são as datas e as colunas são as letras 
#da lista

                   A         B         D         C
2018-01-01  0.528401  0.707031 -1.050405  2.239532
2018-01-02  0.268229  0.352079 -0.834119 -0.646868
2018-01-03  0.589400  0.133959 -0.234439  0.021007
2018-01-04 -0.067797 -1.544373 -0.599789  0.517343
2018-01-05  1.053594  0.586922  0.203107  0.092241
2018-01-06  0.565021  0.399277  1.446714 -2.113330

In [19]:
df2= pd.DataFrame({'A':7,
                   'B':pd.Timestamp('20190101'),
                   'C':pd.Series(1,index=list(range(4)), dtype= 'float32'),
                   'D':np.array([3]*4, dtype='int32'),
                   'E':pd.Categorical(['test','train','test','train']),
                   'E':'Python'})
# as letras A,B,C,D,E,F serão as colunas

In [20]:
df2

   A          B    C  D       E
0  7 2019-01-01  1.0  3  Python
1  7 2019-01-01  1.0  3  Python
2  7 2019-01-01  1.0  3  Python
3  7 2019-01-01  1.0  3  Python

In [21]:
df2.dtypes
# verificando os tipos de dados contidos no dataframe

A             int64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object