<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/Sele%C3%A7%C3%A3o_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20200101',periods=600,freq='D')
df = pd.DataFrame(np.random.randn(600,5),index= datas,columns= list('ABCDE'))
df

                   A         B         C         D         E
2020-01-01  1.647557 -0.367391  1.287814  0.335326  0.244959
2020-01-02  1.312571  1.627236 -2.318201 -0.036328  0.662503
2020-01-03  1.847606  0.641716 -0.875550  0.726181 -0.004747
2020-01-04 -0.610586  1.392560  1.504527 -0.734992 -1.169295
2020-01-05 -0.025350 -0.373196 -1.041066 -0.489790  0.284029
...              ...       ...       ...       ...       ...
2021-08-18 -0.656114 -0.140160 -0.349238  0.433793  1.631493
2021-08-19  0.489653 -1.919251 -0.604805 -1.216057 -0.296471
2021-08-20 -0.709790  0.952278  0.614355 -1.965534  0.130771
2021-08-21 -1.364015 -0.102467  1.057230  0.001102 -0.539025
2021-08-22 -0.837582 -0.311585 -0.399397 -1.340738 -1.017816

[600 rows x 5 columns]

In [4]:
#obter todos os valores da coluna D
df['D']

2020-01-01    0.335326
2020-01-02   -0.036328
2020-01-03    0.726181
2020-01-04   -0.734992
2020-01-05   -0.489790
                ...
2021-08-18    0.433793
2021-08-19   -1.216057
2021-08-20   -1.965534
2021-08-21    0.001102
2021-08-22   -1.340738
Freq: D, Name: D, Length: 600, dtype: float64

In [5]:
#obter todos os valores da coluna A
df['A']

2020-01-01    1.647557
2020-01-02    1.312571
2020-01-03    1.847606
2020-01-04   -0.610586
2020-01-05   -0.025350
                ...
2021-08-18   -0.656114
2021-08-19    0.489653
2021-08-20   -0.709790
2021-08-21   -1.364015
2021-08-22   -0.837582
Freq: D, Name: A, Length: 600, dtype: float64

In [6]:
#Obtendo  somente algumas linhas do dataframe
df[1:5]

                   A         B         C         D         E
2020-01-02  1.312571  1.627236 -2.318201 -0.036328  0.662503
2020-01-03  1.847606  0.641716 -0.875550  0.726181 -0.004747
2020-01-04 -0.610586  1.392560  1.504527 -0.734992 -1.169295
2020-01-05 -0.025350 -0.373196 -1.041066 -0.489790  0.284029

In [7]:
# pretendo visualizar todas as linhas das colunas B,C,D
df.loc[:,['B','C','D']]

                   B         C         D
2020-01-01 -0.367391  1.287814  0.335326
2020-01-02  1.627236 -2.318201 -0.036328
2020-01-03  0.641716 -0.875550  0.726181
2020-01-04  1.392560  1.504527 -0.734992
2020-01-05 -0.373196 -1.041066 -0.489790
...              ...       ...       ...
2021-08-18 -0.140160 -0.349238  0.433793
2021-08-19 -1.919251 -0.604805 -1.216057
2021-08-20  0.952278  0.614355 -1.965534
2021-08-21 -0.102467  1.057230  0.001102
2021-08-22 -0.311585 -0.399397 -1.340738

[600 rows x 3 columns]

In [10]:
# coletando dados a partir de datas
f =df.loc['20200301':'20200711',['A','B']]

In [11]:
len(f)

133

In [12]:
# coletar apenas uma linha do dataframe
df.iloc[1]#linha de índice 1

A    1.312571
B    1.627236
C   -2.318201
D   -0.036328
E    0.662503
Name: 2020-01-02 00:00:00, dtype: float64

In [13]:
# pagar valores específicos de linhas e colunas
df.iloc[1:4,0:2]#linha de índice 1 até a 3, e coluna 0 até a 1

                   A         B
2020-01-02  1.312571  1.627236
2020-01-03  1.847606  0.641716
2020-01-04 -0.610586  1.392560

In [14]:
#pegar colunas e linhas específicas, sem ser dentro de um intervalo
df.iloc[[1,3,5],[0,3]] #linhas de índices 1,3,5 e colunas 0 e 3

                   A         D
2020-01-02  1.312571 -0.036328
2020-01-04 -0.610586 -0.734992
2020-01-06 -1.276162 -1.626891

In [15]:
df.iloc[[1,3,5],:]#linhas de índices 1,3,5 e todas as colunas

                   A         B         C         D         E
2020-01-02  1.312571  1.627236 -2.318201 -0.036328  0.662503
2020-01-04 -0.610586  1.392560  1.504527 -0.734992 -1.169295
2020-01-06 -1.276162  0.134700 -0.082782 -1.626891  1.250493

In [16]:
df.B # Visualizar dados da coluna B

2020-01-01   -0.367391
2020-01-02    1.627236
2020-01-03    0.641716
2020-01-04    1.392560
2020-01-05   -0.373196
                ...
2021-08-18   -0.140160
2021-08-19   -1.919251
2021-08-20    0.952278
2021-08-21   -0.102467
2021-08-22   -0.311585
Freq: D, Name: B, Length: 600, dtype: float64

In [17]:
df[df.A >0]# quero apenas valores maiores do que 0 da coluna A

                   A         B         C         D         E
2020-01-01  1.647557 -0.367391  1.287814  0.335326  0.244959
2020-01-02  1.312571  1.627236 -2.318201 -0.036328  0.662503
2020-01-03  1.847606  0.641716 -0.875550  0.726181 -0.004747
2020-01-10  0.896807  0.033296  0.581545 -1.055357  0.342154
2020-01-12  0.549714  0.524927 -0.051532  0.492446  1.471062
...              ...       ...       ...       ...       ...
2021-08-08  0.726181  0.477227 -0.971846  1.521860 -0.350594
2021-08-14  2.285462  1.227026  0.374865  0.253051  0.058632
2021-08-15  0.650060 -0.203401 -0.955025  0.777990  0.343035
2021-08-16  0.096296 -0.380866 -0.085444  0.520924 -0.238978
2021-08-19  0.489653 -1.919251 -0.604805 -1.216057 -0.296471

[297 rows x 5 columns]

In [18]:
df[df >0]# quero apenas valores maiores do que 0

                   A         B         C         D         E
2020-01-01  1.647557       NaN  1.287814  0.335326  0.244959
2020-01-02  1.312571  1.627236       NaN       NaN  0.662503
2020-01-03  1.847606  0.641716       NaN  0.726181       NaN
2020-01-04       NaN  1.392560  1.504527       NaN       NaN
2020-01-05       NaN       NaN       NaN       NaN  0.284029
...              ...       ...       ...       ...       ...
2021-08-18       NaN       NaN       NaN  0.433793  1.631493
2021-08-19  0.489653       NaN       NaN       NaN       NaN
2021-08-20       NaN  0.952278  0.614355       NaN  0.130771
2021-08-21       NaN       NaN  1.057230  0.001102       NaN
2021-08-22       NaN       NaN       NaN       NaN       NaN

[600 rows x 5 columns]