<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/Stack_e_unstack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Stcak -> os dadossereão empilahdos colocados um abaixo do outro como uma pilha..

In [1]:
import pandas as pd

In [6]:
df =pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")

In [7]:
df.head(4)

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0

[4 rows x 9 columns]

In [8]:
df.shape

(458, 9)

In [9]:
stack_df =df.stack()
# fazendo o empilhamento dos dados do dataframe

In [10]:
stack_df

0    Name         Avery Bradley
     Team        Boston Celtics
     Number                   0
     Position                PG
     Age                     25
                      ...
456  Age                     26
     Height                 7-0
     Weight                 231
     College             Kansas
     Salary              947276
Length: 4018, dtype: object

In [11]:
desfaz_stack = stack_df.unstack()
# desfazendo o empilhamento e retornando ao formato de tabela

In [12]:
desfaz_stack

              Name            Team  ...            College       Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7.73034e+06
1      Jae Crowder  Boston Celtics  ...          Marquette  6.79612e+06
2     John Holland  Boston Celtics  ...  Boston University          NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1.14864e+06
4    Jonas Jerebko  Boston Celtics  ...                NaN        5e+06
..             ...             ...  ...                ...          ...
452     Trey Lyles       Utah Jazz  ...           Kentucky   2.2398e+06
453   Shelvin Mack       Utah Jazz  ...             Butler  2.43333e+06
454      Raul Neto       Utah Jazz  ...                NaN       900000
455   Tibor Pleiss       Utah Jazz  ...                NaN      2.9e+06
456    Jeff Withey       Utah Jazz  ...             Kansas       947276

[457 rows x 9 columns]