<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/Uso_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Aplicando o groupby
neste caso vamos utilizar para agrupar as variáveis categoricas da coluna A

In [3]:
df =pd.DataFrame({'A':['VERDADEIRO','FALSO','VERDADEIRO','FALSO','VERDADEIRO','FALSO','VERDADEIRO','FALSO'],
                  'B':['UM','UM','DOIS','TRES','DOIS','DOIS','UM','TRES'],
                  'C': np.random.randn(8),
                  'D':np.random.randn(8)
                  })

df

            A     B         C         D
0  VERDADEIRO    UM  0.321138 -0.913721
1       FALSO    UM  0.122158 -0.063694
2  VERDADEIRO  DOIS  0.666150 -1.229882
3       FALSO  TRES  0.124791 -1.391557
4  VERDADEIRO  DOIS  0.526034  1.168058
5       FALSO  DOIS  0.989609 -1.159289
6  VERDADEIRO    UM -0.113229 -0.339984
7       FALSO  TRES -1.286706 -0.360363

In [4]:
df.groupby(['A']).sum()
# Faremos o agrupamento das variáveis categóricas, e faremos a soma dos valores referente a essas
# variáveis, ou seja, total da soma dos item false e soma dos valores contidos nos itens true

                   C         D
A
FALSO      -0.050148 -2.974904
VERDADEIRO  1.400093 -1.315530

In [6]:
df.groupby(['A']).mean()
#  médias dos valores numéricos por colunas referentes as variáveis categóricas

                   C         D
A
FALSO      -0.012537 -0.743726
VERDADEIRO  0.350023 -0.328882

In [7]:
df.groupby(['B']).sum()
# Faremos o agrupamento das variáveis categóricas, e faremos a soma dos valores referente a essas
# variáveis, ou seja, total da soma dos item false e soma dos valores contidos nos itens true

             C         D
B
DOIS  2.181793 -1.221114
TRES -1.161915 -1.751920
UM    0.330066 -1.317400

In [8]:
df.groupby(['A','B']).sum()
# Fazendo o agrupamento por 2 colunas

                        C         D
A          B
FALSO      DOIS  0.989609 -1.159289
           TRES -1.161915 -1.751920
           UM    0.122158 -0.063694
VERDADEIRO DOIS  1.192184 -0.061824
           UM    0.207909 -1.253705