<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/reshaping_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
datas = pd.date_range('20200101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index =datas,columns=['VAR_A','VAR_B','VAR_C','VAR_D'])
df

               VAR_A     VAR_B     VAR_C     VAR_D
2020-01-01  2.027450 -1.682049  1.082229  1.747325
2020-01-02  0.063409  0.875837 -0.404323 -2.697740
2020-01-03 -0.701149 -1.087389 -0.658956  1.505613
2020-01-04  2.224733 -0.290136  0.999418 -1.414900
2020-01-05 -0.322741 -0.387439  1.105309  0.643003
2020-01-06  0.033751 -2.424523  0.518490  0.371403

In [6]:
dft = df.T
# as colunas viram linhas e as datas colunas

In [7]:
dft

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
VAR_A    2.027450    0.063409   -0.701149    2.224733   -0.322741    0.033751
VAR_B   -1.682049    0.875837   -1.087389   -0.290136   -0.387439   -2.424523
VAR_C    1.082229   -0.404323   -0.658956    0.999418    1.105309    0.518490
VAR_D    1.747325   -2.697740    1.505613   -1.414900    0.643003    0.371403

In [8]:
df.shape
# atributo shape

(6, 4)

In [9]:
dft.shape

(4, 6)

In [10]:
# Extrair somente os valores centrais, sem colunas e linhas
dft.values
# values atributo do dataframe

array([[ 2.02745025,  0.06340917, -0.70114866,  2.22473299, -0.32274109,
         0.03375065],
       [-1.68204948,  0.87583722, -1.08738935, -0.29013584, -0.38743906,
        -2.42452311],
       [ 1.08222853, -0.40432307, -0.65895598,  0.99941803,  1.10530867,
         0.51848983],
       [ 1.74732537, -2.69773965,  1.50561254, -1.41489967,  0.64300311,
         0.37140336]])

In [11]:
#obter o tamanho no caso é 24, devido a multiplicação de 4 linhas por 6 colunas
np.size(dft.values)

24

In [12]:
# reorganizando o dataframe
v =dft.values

In [13]:
v.reshape((2,12))
#Reorganização, e de 4 linhas e 6 colunas, ficou com 2 linhas e 12 colunas

array([[ 2.02745025,  0.06340917, -0.70114866,  2.22473299, -0.32274109,
         0.03375065, -1.68204948,  0.87583722, -1.08738935, -0.29013584,
        -0.38743906, -2.42452311],
       [ 1.08222853, -0.40432307, -0.65895598,  0.99941803,  1.10530867,
         0.51848983,  1.74732537, -2.69773965,  1.50561254, -1.41489967,
         0.64300311,  0.37140336]])

Observação o reshaping só poderá ser realizado respeitando a quantidade de itens máxima que possui o dataframe, ou seja se este tem tamanho 24, pode ser organizado de qualquer maneira dentro deste valor, como foi feito anteriormente 2* 12 =24, caso seja feita em uma quantidade superior ou inferior ele quebra...

In [14]:
v.reshape((3,12))

ValueError: ignored

In [15]:
v.reshape((1,12))

ValueError: ignored