<a href="https://colab.research.google.com/github/MagdaSousa/Estudo_Pandas/blob/master/Sumarizando_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as  pd
import numpy as np

In [4]:
datas = pd.date_range('20200101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=datas,columns=['var_A','var_B','var_C','var_D'])
df2 =pd.DataFrame({'A':1,
                   'B':pd.Timestamp('20130102'),
                   'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([3]*4, dtype='int32'),
                   'E':pd.Categorical(['test','train','test','train']),
                   'F':'Python'})

In [5]:
df

               var_A     var_B     var_C     var_D
2020-01-01  0.564805  0.324253  0.702723 -2.177462
2020-01-02 -0.558784  0.528558  0.206865 -1.074331
2020-01-03 -0.568501 -1.684267 -1.400751  1.463461
2020-01-04  1.026650 -0.946133  1.016080  0.839630
2020-01-05 -0.143933  0.145484  0.074185  0.384581
2020-01-06 -0.262279 -0.516622  0.161805 -0.279221

In [6]:
df2

   A          B    C  D      E       F
0  1 2013-01-02  1.0  3   test  Python
1  1 2013-01-02  1.0  3  train  Python
2  1 2013-01-02  1.0  3   test  Python
3  1 2013-01-02  1.0  3  train  Python

In [7]:
df.shape

(6, 4)

In [9]:
df.dtypes

var_A    float64
var_B    float64
var_C    float64
var_D    float64
dtype: object

In [10]:
df2.shape

(4, 6)

In [11]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.describe()

          var_A     var_B     var_C     var_D
count  6.000000  6.000000  6.000000  6.000000
mean   0.009660 -0.358121  0.126818 -0.140557
std    0.647672  0.852642  0.832625  1.330380
min   -0.568501 -1.684267 -1.400751 -2.177462
25%   -0.484657 -0.838755  0.096090 -0.875554
50%   -0.203106 -0.185569  0.184335  0.052680
75%    0.387620  0.279561  0.578758  0.725867
max    1.026650  0.528558  1.016080  1.463461

In [12]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [14]:
df

               var_A     var_B     var_C     var_D
2020-01-01  0.564805  0.324253  0.702723 -2.177462
2020-01-02 -0.558784  0.528558  0.206865 -1.074331
2020-01-03 -0.568501 -1.684267 -1.400751  1.463461
2020-01-04  1.026650 -0.946133  1.016080  0.839630
2020-01-05 -0.143933  0.145484  0.074185  0.384581
2020-01-06 -0.262279 -0.516622  0.161805 -0.279221

In [16]:
df1 = df.reindex(index=datas[0:4],columns=list(df.columns)+ ['var_E'])

In [17]:
df1

               var_A     var_B     var_C     var_D  var_E
2020-01-01  0.564805  0.324253  0.702723 -2.177462    NaN
2020-01-02 -0.558784  0.528558  0.206865 -1.074331    NaN
2020-01-03 -0.568501 -1.684267 -1.400751  1.463461    NaN
2020-01-04  1.026650 -0.946133  1.016080  0.839630    NaN

In [18]:
df1.loc[datas[0]:datas[1],'var_E']=77

In [19]:
df1

               var_A     var_B     var_C     var_D  var_E
2020-01-01  0.564805  0.324253  0.702723 -2.177462   77.0
2020-01-02 -0.558784  0.528558  0.206865 -1.074331   77.0
2020-01-03 -0.568501 -1.684267 -1.400751  1.463461    NaN
2020-01-04  1.026650 -0.946133  1.016080  0.839630    NaN

In [20]:
df1.dtypes

var_A    float64
var_B    float64
var_C    float64
var_D    float64
var_E    float64
dtype: object

In [21]:
df1.describe()

          var_A     var_B     var_C     var_D  var_E
count  4.000000  4.000000  4.000000  4.000000    2.0
mean   0.116043 -0.444397  0.131229 -0.237176   77.0
std    0.807173  1.053008  1.074283  1.684955    0.0
min   -0.568501 -1.684267 -1.400751 -2.177462   77.0
25%   -0.561213 -1.130667 -0.195039 -1.350114   77.0
50%    0.003011 -0.310940  0.454794 -0.117351   77.0
75%    0.680266  0.375329  0.781062  0.995587   77.0
max    1.026650  0.528558  1.016080  1.463461   77.0